@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
 html {
  zoom: 0.9; /* Old IE only */
} 
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body{
  font-family: 'Lato', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
header{
  width: 100%;
  height: 32px;
  background-color: #182B37;
  display: flex;
  justify-content: center;
}
header div{
  width: 1165px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 10px;
  color: white;
}
header img{
  margin-right: 11px;
  margin-left: 95px;
}
main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
nav{
  width: 1370px;
  height: 170px;
  display: flex;
  align-items: center;
  padding-left: 45px;
}
nav a{
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-left: 44px;
}
nav a:hover {
  color: #00B0BD;
}
nav img{
  margin-right: 400px;
}
#about-us{
  width: 1920px;
  height: 830px;
  background-image: url("./images/background.svg");
  display: flex;
  justify-content: center;
  position: relative;
}
.inner{
  width: 1370px;
  height: 765px;
  padding-left: 45px;
  display: flex;
}
.pixb{
  width: 610px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pixb img{
  width: 310px;
  margin-bottom: 25px;
}
.pixb p{
  color: #182B37;
  font-size: 20px;
  line-height: 35px;
}
.slider{
  width: 595px;
  height: 765px;
  background-color: #00B0BD;
  border-radius: 48px;
  margin-left: 120px;
  overflow: hidden;
}
.rsis-container{
  border-radius: 48px;
  overflow: hidden;
}
#services{
  width: 1370px;
  height: 670px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-txt{
  color: #00B0BD;
  font-size: 60px;
  margin-bottom: 80px;
}
.ser-div{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ser-div img{
  margin-left: 45px;
  margin-right: 45px;
}
.b{
  position: absolute;
  left: 888px;
  top: 1110px;
  z-index: -1;
}
#portfolio{
  width: 1370px;
  height: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.por-photos{
  width: 1026px;
  height: 342px;
  display: flex;
}
.por-img{
  width: 342px;
  height: 342px;
}
.por-img1{
  width: 342px;
  height: 342px;
  background-image: url("./images/por/por1.svg");
}
.por-img1:hover{
  width: 342px;
  height: 342px;
  background-image: url("./images/por/por1hov.svg");
}
.por-img2{
  width: 342px;
  height: 342px;
  background-image: url("./images/por/por2.svg");
}
.por-img2:hover{
  width: 342px;
  height: 342px;
  background-image: url("./images/por/por2hov.svg");
}
.por-img3{
  width: 342px;
  height: 342px;
  background-image: url("./images/por/por3.svg");
}
.por-img3:hover{
  width: 342px;
  height: 342px;
  background-image: url("./images/por/por3hov.svg");
}
.por-img4{
  width: 342px;
  height: 342px;
  background-image: url("./images/por/por4.svg");
}
.por-img4:hover{
  width: 342px;
  height: 342px;
  background-image: url("./images/por/por4hov.svg");
}
.por-img5{
  width: 342px;
  height: 342px;
  background-image: url("./images/por/por5.svg");
}
.por-img5:hover{
  width: 342px;
  height: 342px;
  background-image: url("./images/por/por5hov.svg");
}

#clients{
  width: 1370px;
  height: auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact-us{
  width: 1370px;
  height: auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont-div{
  width: 100%;
  height: 765px;
  display: flex;
}
.map-div{
  width: 500px;
  height: 722px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 48px;
  overflow: hidden;
}
.mapp{
  border: 0px;
}
.cont-form{
  width: 690px;
  height: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.txt{
  font-size: 18px;
  padding-left: 45px; 
  margin-top: 25px;
  margin-bottom: 18px;
  color: #182B37;
}
.input{
  width: 100%;
  height: 60px;
  border-radius: 33px;
  border-width: 0px;
  background-color: #B0BEC5;
  opacity: 0.5;
  font-size: 22px;
  padding-left: 28px;
}
.input-sel{
  width: 715px;
  height: 60px;
  border-radius: 33px;
  border-width: 0px;
  background-color: #B0BEC5;
  opacity: 0.5;
  font-size: 22px;
  padding-left: 28px;
  padding-right: 28px;

}
.input-l{
  width: 100%;
  height: 110px;
  border-radius: 33px;
  border-width: 0px;
  background-color: #B0BEC5;
  opacity: 0.5;
  font-size: 22px;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 15px;
}
.sub{
  width: 163px;
  height: 48px;
  color: white;
  background-color: #00B0BD;
  border-radius: 25px;
  border-width: 0px;
  margin-top: 35px;
  margin-left: 285px;
  margin-right: auto;
}
footer{
  width: 100%;
  height: 280px;
  margin-top: 75px;
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
}
.foo{
  width: 1400px;
  height: auto;
  display: flex;
  align-items: center;
}
.social{
  width: 290px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;
}
.so{
  margin-top: 25px;
}
.cont-foo{
  width: 375px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
}
.search{
  width: 550px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 90px;
}
.txt-fo{
  font-size: 33px;
  color: #182B37;
  margin-bottom: 0px;
}
.txt-fooo{
  font-size: 55px;
  color: #00B0BD;
  margin-bottom: 10px;
}
.search-inp{
  width: 100%;
  height: 45px;
  border-radius: 20px;
  background-color: #B0BEC5;
  opacity: 0.5;
  font-size: 22px;
  border-width: 0px;
  padding-left: 30px;
}


